/* clases para agregarle estilos al cuerpo*/
.blog-body{
  background: url(../img/g3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/*clases para la barra */
.nav-b{
  min-height: 120px;
  background: transparent;
  font-family: sans-serif;
}
.icon{
  margin-top: 40px;
  padding-left: 30px;
}
.title{
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-family: sans-serif;
}

.lista{
  margin-top: 20px;

}


/*clases parael cuerpo*/

.row-body{
  margin-top: 150px;
}

.row-body1{
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
}

.rs{
  margin-left: 25px;
  margin-top: 10px;
  text-align: center;
}

.body-img{
  width: 80%;
  background: transparent;
  min-height: 350px;
}

.image{
  margin-top: 50px;
  width: 80%;
}

.body-cont{
  min-height:350px;
  background: transparent;
  margin-left: 20px;
}

.body-cont1{
  min-height:350px;
  background: transparent;
}

.titulo-cont{
  font-family: sans-serif;

}

p{
  text-align: justify;
}

@media (max-width: 770px){

  .left-column{
    display: none;
  }

  .nav-b{
    width: 100%;
    margin-top: -20px;
    background: transparent;
    font-family: sans-serif;
  }

  .icon{
    margin-top: 20px;
    padding-right: 220px;
    text-align: left;

  }


  .rs{
    margin-left:-5px;
    margin-top: 10px;
    text-align: left;
  }

  .row-body1{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }




}
